@import "./Colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: poppins;
  background-color: $white_smoke;
}

.__hide {
  display: none;
}

.__show {
  display: block;
}
